@using DBEN.ETM.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <a href="#"><h1><strong>登录</strong></h1></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>登录</h3>
                <p>Enter your username and password to log on:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-lock"></i>
            </div>
        </div>
        <div class="form-bottom">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.Message()*@
                <div class="form-group">
                    <label class="sr-only" for="UserName">用户名</label>
                    @Html.TextBoxFor(n => n.Email, new { placeholder = "用户名", @class = "form-username form-control" })
                </div>
                <div class="form-group">
                    <label class="sr-only" for="Password">密码</label>
                    @Html.TextBoxFor(n => n.Password, new { type = "password", placeholder = "密码", @class = "form-username form-control" })
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(n => n.RememberMe)
                    <label for="RememberMe">自动登录</label>
                </div>
                <input type="hidden" name="returnUrl" value="@Request.QueryString["returnUrl"]">
                <button type="submit" class="btn">登录</button>
            }
            @*@using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
            {
                <div class="form-group">
                    <p></p>
                    <span class="notregister">没有账号？</span>
                    <a href="#">立即注册</a>
                    @Html.AntiForgeryToken()
                    @foreach (var provider in providers)
                    {
                        <button type="submit" class="thirdloginbtn @provider.AuthenticationType" id="@provider.AuthenticationType" name="provider" value="@provider.AuthenticationType" title="Log in using your @provider.Caption account">@provider.AuthenticationType</button>
                    }
                </div>
            }*@
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}